{% extends 'base.html' %}
{% load static %}

{% block content %}

<div xmlns:background-image="http://www.w3.org/1999/xhtml" xmlns:url>
      <link href="{% static 'blog.css' %}" rel="stylesheet" />

      <div class="blog-top-container">

          <div class="blog-hero">
            <div class="blog-content-container">
              <h1 class="heading blog-text012">Blog</h1>
              <h2 class="subheading blog-subheading">
                <span>Artykuły, polecenia,</span>
                <br />
                <span>historie nordikowych podróżników</span>
              </h2>
            </div>
          </div>
        </div>
        <div id="main-section" class="blog-main">
          <h1>Lodowce Islandzkie</h1>
          <div class="blog-cards-container">
            <span class="blog-text017">
              <span>
                Islandia znaczy kraina lodu. Lodowce zajmują 11% powierzchni
                wyspy, ale systematycznie topnieją. Glacjolodzy uważają, że w
                ciągu najbliższych 50 lat, ubędzie 1/3 lodu, a za 200 lat
                Islandia będzie musiała zmienić nazwę. W sierpniu na Islandii
                odbył się pogrzeb lodowca Okjokull. To pierwszy islandzki
                lodowiec, który w pełni zaniknął. Zanim to jednak nastąpi, na
                Islandii lodowce widać właściwie wszędzie. Ich grzbiety często
                toną w chmurach, a jęzory spływają w doliny.
              </span>
              <span></span>
              <br />
              <span></span>
              <span></span>
              <span></span>
              <br />
              <span></span>
              <span></span>
              <span>Jak powstają lodowce?</span>
              <br />
              <span>
                Lodowiec to duży blok lodu, który nie topnieje. Tworzy się na
                lądzie tam, gdzie śnieg pozostaje na tyle długo, że zmienia się
                w lód. Gdzie opady śniegu występują częściej niż topnienie, a
                kolejne warstwy śniegu kompresują się w lód. Lodowiec stale
                porusza się pod własnym ciężarem. Przede wszystkim działa siła
                ciężkości, która nim porusza, a ciężar lodu powoduje wewnętrzne
                deformacje. Dzieje się tak także dlatego, że grunt pod lodowcem
                pokryty jest zwykłą wodą, na której to ogromne cielsko może się
                “ślizgać”. To odróżnia lodowiec od zamarzniętego przez cały rok
                jeziora lub lodu na morzach. Niektóre lodowce kurczą się z
                powodu topnienia i znikają w krótkim czasie, podczas gdy inne
                rosną. Niektóre składają się prawie wyłącznie z wody słodkiej.
                Inne to lodowce skalne, utworzone z grubej ilości osadów i skał,
                zamrożonych w lodzie.
              </span>
              <span></span>
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span></span>
              <span></span>
              <span>Lodowce na Islandii</span>
              <br />
              <span>
                Pomimo usytuowania kraju pod kołem podbiegunowym, lodowce
                islandzkie wyraźnie widać z kosmosu. Islandzka, bardzo zimna i
                mokra pogoda, a także górzyste tereny zapewniają idealne warunki
                dla tworzenia lodowców. Jest ich mnóstwo w całym kraju, a wiele
                z nich znajduje się stosunkowo blisko Reykjaviku. Znajdują się
                tu dwa największe lodowce w Europie, Vatnajökull i Langjökull.
              </span>
              <br />
              <span></span>
              <br />
              <span>
                Islandzkie lodowce są przeważnie białe, ze względu na fakt, że
                składają się przede wszystkim z ubitego śniegu. Gdy lód
                odkształca się pod ogromnym ciężarem, staje się tak gęsty, że
                nie wszystkie cząstki powietrza wydostają się na zewnątrz.
                Właśnie to nadaje niższym częściom lodowców niebieskiego koloru.
              </span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span>
                Jednak z powodu surowej wulkanicznej natury Islandii, lód
                przeplatany jest również żyłkami z czarnego popiołu, z których
                część datowana jest na wiele wieków wstecz.
              </span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span>Lodowiec Sólheimajökull</span>
              <br />
              <span>
                jest mocno wysuniętym językiem lodowca Mýrdalsjökull, czwartego
                pod względem wielkości lodowca na Islandii. To pierwszy
                lodowiec, który zobaczyliśmy na wyspie. Już sama droga dojazdowa
                zapewnia spektakularne widoki na lodowiec, na miejscu jest duży
                szutrowy parking i lokalne biura oferujące możliwość wejścia na
                lodowiec z przewodnikiem. Dojście do lodowca jest krótkie i
                łatwe i już z daleka widać jak bardzo lodowiec topnieje. Jak się
                kurczy. Trafiła nam się bardzo słoneczna pogoda, która
                potęgowała wrażenie, że z lodowca za chwilę zostanie tylko
                garstka burej wody. W terenie dokładnie widać jak ukształtowany
                był lodowiec. W ciągu ostatnich 10 lat skurczył się o kilometr.
                Z daleka wydaje się biały, z bliska okazuje się być pokryty w
                znacznej części wulkanicznym pyłem.
              </span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span>Lodowiec Svinafellsjökull</span>
              <br />
              <span>
                to jeden z południowych jęzorów największego lodowca Islandii-
                czapy lodowej Vatnajokull. Dotarliśmy do niego późnym wieczorem
                i byliśmy tam zupełnie sami. Dojazd jest krótki, 2 km zjazdu z
                Ring Road, ale droga jest tak dziurawa, że odetchnęliśmy z ulgą,
                gdy się nareszcie skończyła. Latem lodowce tracą swoją czystą,
                błękitną barwę, więc i ten wydaje się szary.
              </span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span></span>
              <br />
              <br />
              <span>Jęzor lodowca Skaftafellsjökull</span>
              <br />
              <span>
                znajduje się na terenie największego parku narodowego w Europie
                – Vatnajökull National Park. Jego powierzchnia zajmuje ponad
                13.000 km². grubość pokrywy sięga miejscami 1000 metrów!
                Najlepszym miejscem do obserwacji lodowca Vatnajökull jest
                Skaftafell – jedno z czterech centrów turystycznych utworzonych
                na terenie parku. To tu spływa jeden z jęzorów lodowca,
                Skaftafellsjökull. Prowadzi do niego wygodna żwirowa dróżka, a
                lodowiec poprzedza jezioro lodowcowe. Z uwagi na nisko
                zawieszone gęste chmury, nie zobaczyliśmy otoczenia lodowca. Na
                terenie Skaftafell znajduje się kilka znakowanych szlaków
                turystycznych. Jednym ze szlaków jest droga prowadząca na szczyt
                Kristinartindar (1126 m n.p.m.), ulokowana pomiędzy dwoma
                jęzorami lodowca – Skaftafellsjökull oraz Morsarjökull i
                oferująca wspaniałe widoki na najwyższy szczyt Islandii oraz
                okoliczne wierzchołki wystające ponad lodową kopułę Vatnajökull
                (18 km pętla). Z oglądanych przez nas lodowców, ten wypadł
                najsłabiej (być może przez pogodę), więc jeśli brakuje Wam
                czasu, możecie sobie go odpuścić. Tuż obok centrum turystycznego
                rozpoczyna się również szlak pod wodospad Svarifoss.
              </span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span></span>
              <span>Laguna lodowcowa Jökulsárlón</span>
              <br />
              <span>
                to chyba najbardziej znane miejsce na południu Islandii, do
                którego zjeżdżają się tłumy i które jest najdalszym celem
                jednodniowych wycieczek z Reykyaviku. Za laguną, na wschód,
                Islandia pustoszeje. A sama laguna robi naprawdę piorunujące
                wrażenie! Wszystkie opisy pełne zachwytu, które wszędzie
                przeczytacie, są prawdziwe. Jest to najgłębsze na Islandii
                jezioro powstałe z wód topniejącego lodowca Breiðamerkurjökull i
                przez cały rok wypełnione odłamkami lodu odrywającymi się od
                lodowca. Niektóre z nich wznoszą się na wysokość kilku pięter, a
                w jego wodach zamieszkuje mnóstwo fok.Po lagunie pływają ogromne
                błękitne kry, które pod mostem spływają do morza. Widok
                niecodzienny i fascynujący. W lagunie widzieliśmy dwie foki,
                które lubią tam pływać lub wylegiwać się na lodzie. A co
                najlepsze, laguna widoczna jest z doskonale z drogi, przejeżdża
                się nad nią nawet zawieszonym metalowym mostem. Takie atrakcje
                tuż przy głównej drodze tylko na Islandii!
              </span>
              <span>i</span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span></span>
              <span></span>
              <br />
              <span></span>
              <span></span>
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span></span>
              <br />
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span>
                Na większość lodowców można wejść wykupując wycieczkę z
                przewodnikiem. Samodzielne chodzenie po lodowcu jest bardzo
                niebezpieczne i zabronione. Po lagunach lodowcowych można pływać
                amfibiami, zbliżając się do ogromnych tafli lodu. Wreszcie, zimą
                można zwiedzać jaskinie lodowcowe. Atrakcje i możliwości jest
                mnóstwo, jedynym ograniczeniem może być zasobność portfela.
              </span>
              <br />
              <span></span>
              <br />
              <span></span>
              <span></span>
              <span>Ola i Marcin</span>
            </span>
            <img
              alt="image"
              src="https://bliskocorazdalej.pl/wp-content/uploads/2019/10/DSC_0498.jpg"
              class="blog-image"
            />
            <img
              alt="image"
              src="https://bliskocorazdalej.pl/wp-content/uploads/2019/10/DSC_0893.jpg"
              class="blog-image1"
            />
            <img
              alt="image"
              src="https://bliskocorazdalej.pl/wp-content/uploads/2019/09/DSC_0187-1.jpg"
              class="blog-image2"
            />
          </div>
          <img
            alt="image"
            src="https://bliskocorazdalej.pl/wp-content/uploads/2019/10/DSC_0494.jpg"
            class="blog-image3"
          />
        </div>
      </div>


{% endblock %}