{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static 'finlandia.css' %}" rel="stylesheet"/>
<div class="finlandia-container">
    <div class="finlandia-top-container">
        <div class="finlandia-hero">
            <div class="finlandia-content-container">
                <h1 class="heading finlandia-text12">Finlandia</h1>
                <h2 class="subheading finlandia-subheading">
                    <span>kraina jezior, bagien, lasów</span>
                    <br/>
                    <span>i bezludnej tundry</span>
                    <br/>
                    <span></span>
                </h2>
            </div>
        </div>
    </div>
    <div class="finlandia-main" id="main-section">
        <div class="finlandia-top-container">
            <h1 class="finlandia-text18">
                Kojarzona jest przede wszystkim z reniferami, sauną, skokami
                narciarskimi oraz Świętym Mikołajem. Jednak rzeczą, która przyciąga
                rzesze turystów jest bez wątpienia dzika przyroda.
            </h1></div>
        <span class="finlandia-text19">
            <br/>
            <span>
              Finlandia położona jest we wschodniej części Półwyspu
              Skandynawskiego. Jej zachodnie wybrzeże oblewają wody Morza
              Bałtyckiego. Graniczy ze: Szwecją, Norwegią oraz Rosją. Większość
              obszaru Finlandii to niziny, mimo to trudno tu znaleźć teren
              płaski. Liczne są skaliste lub kamieniste, niewysokie pagórki,
              między którymi leżą rozległe bagniska i torfowiska. Północną część
              kraju, poza kołem podbiegunowym, zajmuje wyżynna kraina - Laponia.
            </span>
            <br/>
            <span></span>
            <br/>
            <span>
              Południowa część Finlandii znajduje się w strefie wpływów klimatu
              umiarkowanego chłodnego. Natomiast na północy przechodzi on w
              klimat okołobiegunowy subpolarny. Charakterystyczne są tu duże
              różnice temperatur pomiędzy latem i zimą. Latem temperatura waha
              się zazwyczaj w granicach 18 - 24°C, a czasem może nawet dojść do
              30°C.
            </span>
            <br/>
            <span></span>
            <br/>
            <span>
              Finlandia należy do państw bardzo chętnie odwiedzanych przez
              podróżnych. Jednym z ważniejszych regionów turystycznych są Niziny
              Nadmorskie oraz Wyspy Alandzkie. W tym rejony znajdują się
              Helsinki. Będąc w stolicy warto odwiedzić kościół św. Marcina,
              Plac Senacki, budynek parlamentu oraz liczne teatry i muzea.
              Bardzo malowniczy jest również skansen usytuowany na
              wyspie Seurasaari. Natomiast Pojezierze Fińskie sprzyja uprawianiu
              sportów wodnych (kajakarstwo, żeglarstwo, wędkarstwo).
              Przemierzając Finlandię nie można pominąć także Laponii, która
              zachwyca zorzą polarną, dziewiczą przyrodą oraz ciszą i spokojem.
            </span>
          </span>
    </div>
</div>
<script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
{% endblock %}
