{% load static %}

<div>
  <link href="{% static 'components/finland.css' %}" rel="stylesheet" />
  <div class="finland-container">
    <img
      alt="image"
      src="public/playground_assets/anna-hunko-akvefdj2q_o-unsplash-200h.jpg"
      class="finland-image"
    />
    <div class="finland-container1">
      <span class="finland-text"><span>Finland</span></span>
      <span class="finland-text1"><span></span></span>
      <span class="finland-text2"><span></span></span>
      <a href="finlandia.html" class="finland-navlink">
        <div class="outline-button-container">
          <button class="outline-button-button button">
            <span>Discover place</span>
          </button>
        </div>
      </a>
    </div>
  </div>
</div>
