{% extends 'base.html' %}

{% block content %}
<div id="main-section" class="nordic-trip-home-main">
          <div class="nordic-trip-home-cards-container">
            <a href="finlandia.html" class="nordic-trip-home-navlink4">
              <div class="finland-container">
                <img
                  alt="image"
                  src="{% static 'public/playground_assets/anna-hunko-akvefdj2q_o-unsplash-200h.jpg' %}"
                  class="finland-image"
                />
                <div class="finland-container1">
                  <span class="finland-text"><span>Finland</span></span>
                  <span class="finland-text1"><span></span></span>
                  <span class="finland-text2"><span></span></span>
                </div>
              </div>
            </a>
            <a href="finlandia.html" class="finland-navlink">
              <div class="outline-button-container">
                <button class="outline-button-button button">
                  <span>Discover place</span>
                </button>
              </div>
            </a>
          </div>
        </div>

        <div class="nordic-trip-home-container3">
          <img
            alt="image"
            src="https://wallbeing.com/2272-thickbox_default/grafika-joker.jpg"
            class="nordic-trip-home-image"
          />
          <div class="nordic-trip-home-container4">
            <span class="nordic-trip-home-text08"><span>Islandia</span></span>
            <span class="nordic-trip-home-text10"></span>
            <span class="nordic-trip-home-text11"></span>
            <a href="finlandia.html" class="nordic-trip-home-navlink5">
              <div class="outline-button-container">
                <button class="outline-button-button button">
                  <span>Discover place</span>
                </button>
              </div>
            </a>
          </div>
        </div>
        <div class="finland-container">
          <img
            alt="image"
            src="{% static 'public/playground_assets/anna-hunko-akvefdj2q_o-unsplash-200h.jpg' %}"
            class="finland-image"
          />
          <div class="finland-container1">
            <span class="finland-text"><span>Cluj-Napoca</span></span>
            <span class="finland-text1"><span></span></span>
            <span class="finland-text2"><span></span></span>
            <a href="finlandia.html" class="finland-navlink">
              <div class="outline-button-container">
                <button class="outline-button-button button">
                  <span>Discover place</span>
                </button>
              </div>
            </a>
          </div>
        </div>
        <div class="finland-container">
          <img
            alt="image"
            src="{% static 'public/playground_assets/anna-hunko-akvefdj2q_o-unsplash-200h.jpg' %}"
            class="finland-image"
          />
          <div class="finland-container1">
            <span class="finland-text"><span>Paris</span></span>
            <span class="finland-text1"><span></span></span>
            <span class="finland-text2"><span></span></span>
            <a href="finlandia.html" class="finland-navlink">
              <div class="outline-button-container">
                <button class="outline-button-button button">
                  <span>Discover place</span>
                </button>
              </div>
            </a>
          </div>
        </div>
        <div class="finland-container">
          <img
            alt="image"
            src="{% static 'public/playground_assets/anna-hunko-akvefdj2q_o-unsplash-200h.jpg' %}"
            class="finland-image"
          />
          <div class="finland-container1">
            <span class="finland-text"><span>Amsterdam</span></span>
            <span class="finland-text1"><span></span></span>
            <span class="finland-text2"><span></span></span>
            <a href="finlandia.html" class="finland-navlink">
              <div class="outline-button-container">
                <button class="outline-button-button button">
                  <span>Discover place</span>
                </button>
              </div>
            </a>
          </div>
        </div>
        <div class="finland-container">
          <img
            alt="image"
            src="{% static 'public/playground_assets/anna-hunko-akvefdj2q_o-unsplash-200h.jpg' %}"
            class="finland-image"
          />
          <div class="finland-container1">
            <span class="finland-text"><span>Barcelona</span></span>
            <span class="finland-text1"><span></span></span>
            <span class="finland-text2"><span></span></span>
            <a href="finlandia.html" class="finland-navlink">
              <div class="outline-button-container">
                <button class="outline-button-button button">
                  <span>Discover place</span>
                </button>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="finland-container">
        <img
          alt="image"
          src="{% static 'public/playground_assets/anna-hunko-akvefdj2q_o-unsplash-200h.jpg' %}"
          class="finland-image"
        />
        <div class="finland-container1">
          <span class="finland-text"><span>Finland</span></span>
          <span class="finland-text1"><span></span></span>
          <span class="finland-text2"><span></span></span>
          <a href="finlandia.html" class="finland-navlink">
            <div class="outline-button-container">
              <button class="outline-button-button button">
                <span>Discover place</span>
              </button>
            </div>
          </a>
        </div>
      </div>
{% endblock %}