{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
      <link href="{% static 'islandia.css' %}" rel="stylesheet" />
      <div class="islandia-container">
        <div class="islandia-top-container">
          <div class="islandia-hero">
            <div class="islandia-content-container">
              <h1 class="heading islandia-text12">Islandia</h1>
              <h2 class="subheading islandia-subheading">
                <span>zadziwia ogromną liczbą owiec, licznymi gejzerami</span>
                <br />
                <span>oraz lokalnym alkoholem-płonącym winem</span>
                <br />
                <span></span>
              </h2>
            </div>
          </div>
        </div>
        <div id="main-section" class="islandia-main">
          <h1 class="islandia-text16">
            <span>
              Islandia to zaskakujący &quot;kraj lodu&quot;, którego mieszkańcy
              cieszą się imponującą średnią długością życia. W tym niezwykłym
              państwie od czerwca do sierpnia niemal przez całą dobę jest jasno.
            </span>
            <br />
            <span></span>
            <br />
            <span></span>
          </h1>
          <span class="islandia-text22">
            <br />
            <span></span>
            <span>
              Islandia to wyspa - kraj, leżąca pomiędzy Skandynawią, a
              Grenlandią w północnej części Oceanu Atlantyckiego, nieco na
              południe od koła podbiegunowego północnego. Od położonej od niej
              na zachód Grenlandii oddziela ją Cieśnina Duńska. Biorąc pod uwagę
              uwarunkowania geologiczne Islandia uznawana jest za najmłodszy
              obszar na kontynencie europejskim. W centralnej części wyspy
              rozciąga się płaskowyż wulkaniczny, który wznosi się na wysokość
              600-1000 m n.p.m. Niewielkie obszary nizinne spotyka się jedynie w
              południowo-zachodniej części wyspy. Ponad 11% obszaru Islandii
              pokrywają lodowce (za największy uznaje się Vatnajökull). Pokrywa
              lodowa skrywa czynny wulkan Grimsvatn, uaktywniający się co 4-10
              lat. O aktywności wulkanicznej świadczą także liczne gorące źródła
              oraz gejzery.
            </span>
            <br />
            <span></span>
            <br />
            <span>
              Warunki pogodowe na Islandii zależne są od dwóch stref
              klimatycznych. Na południu wyspy panuje klimat umiarkowany
              chłodny, a część północna znajduje się w strefie wpływów klimatu
              subpolarnego. Zimą średnie temperatury wynoszą -5 - 0°C, natomiast
              latem słupek rtęci rośnie do 9 - 12°C. 
            </span>
            <br />
            <span></span>
            <br />
            <span>
              Największą atrakcją wyspy jest dziewicza natura oraz formy
              ukształtowania terenu. Nie ma miejsca na świecie, gdzie na jednym
              obszarze zgromadzonych jest tak wiele osobliwości przyrodniczych.
              Należy wymienić tutaj gorące źródła, gejzery, wulkany, lodowce
              oraz skalne tereny porosłe roślinnością charakterystyczną dla
              tundry. Środowisko nie jest zanieczyszone ze względu na niewielką
              gęstość zaludnienia (2,5 mieszkańca na km2) oraz brak dużych
              zakładów produkcyjnych. Wszelkie jeziora oraz rzeki oferują
              doskonałe warunki do uprawiania wędkarstwa. 
            </span>
          </span>
        </div>
      </div>
    </div>
{% endblock %}