{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div>
      <link href="{% static 'norwegia.css' %}" rel="stylesheet" />

      <div class="norwegia-container">

        <div id="main-section" class="norwegia-main">
          <h1 class="norwegia-text15">
            <span>
              To właśnie przyroda przyciąga turystów do Norwegii najbardziej -
              dzika, wyrosła w umiarkowanie chłodnym klimacie, w bogactwie
              czystych wód, czyli warunkach sprzyjających rozwojowi życia.
            </span>
          </h1>
          <div class="norwegia-footer">
            <span class="norwegia-text17">
              <span>​</span>
              <br />
              <span class="norwegia-text19">
                Norwegia to państwo położone w Europie Północnej na Półwyspie
                Skandynawskim. Graniczy ze Szwecją, Finlandią i Rosją. Ze
                względu na swoje usytuowanie Norwegia może pochwalić się
                niezwykle urozmaiconą oraz długą linią brzegową. Należy do niej
                około 50 tysięcy wysp, z których największą jest Spitsbergen.
                Norwegia zaliczana jest do krajów górzystych oraz wysuniętych
                najdalej na północ. Znaczną jej część zajmują Góry
                Skandynawskie. Średnia wysokość terenu wynosi 460 m, a 32%
                powierzchni znajduje się ponad granicą drzew.
              </span>
              <br />
              <span class="norwegia-text20"></span>
              <br />
              <span class="norwegia-text21">
                W południowej oraz środkowej części kraju panuje klimat
                umiarkowany morski. Natomiast tereny północne położone za kołem
                polarnym pozostają w strefie klimatu umiarkowanego chłodnego. Na
                północnych wybrzeżach obserwuje się wpływy klimatu subpolarnego.
                Zimą w okręgach Finnmark i Troms temperatura może spaść poniżej
                -40 °C.
              </span>
              <br />
              <span class="norwegia-text22">​</span>
              <br />
              <span class="norwegia-text23">
                Lasy, fiordy i niezapomniane krajobrazy, a także niespotykane
                nigdzie gatunki zwierząt - to bogactwo Norwegii. Podróżując po
                Norwegii niejednokrotnie można zaobserwować przechadzające się
                renifery, a wędkowanie w zatokach i jeziorach to największa
                przyjemność nawet dla mało zapalonego wędkarza. Warto zobaczyć
                tutaj także mieniącą się różnymi kolorami zorzę polarną oraz
                odwiedzić skandynawskie miasteczka. Do Norwegii przyjeżdża
                rocznie ok. 3 mln turystów z całego świata. Kraj ten podzielony
                jest na pięć regionów i każdy z nich kryje w sobie inne skarby,
                który warto zobaczyć.
              </span>
            </span>
          </div>
        </div>


        {% endblock %}
