{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div>
      <link href="{% static 'oferta_specjalna.css' %}" rel="stylesheet" />

      <div class="app-page-container">
        <div id="main-section" class="app-page-main">
          <h1 class="app-page-text7">Podróżuj z nami na biegun północny</h1>
          <iframe
            src="https://www.youtube.com/embed/KmckDac-Ua0"
            class="app-page-iframe"
          ></iframe>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>



{% endblock %}