{% extends 'base.html' %}
{% load static %}

{% block content %}


    <div xmlns:background-image="http://www.w3.org/1999/xhtml" xmlns:url>
      <link href="{% static 'onas.css' %}" rel="stylesheet" />


      <div class="onas-container">

          <div class="onas-hero">
            <div class="onas-content-container">
              <h1 class="heading onas-text07">O nas</h1>
              <h2 class="subheading onas-subheading">
                <span>Poznaj nas</span>
                <br />
                <span>i leć z nami!</span>
              </h2>
            </div>
          </div>
        </div>
        <div id="main-section" class="onas-main">
          <span>
            <span class="onas-text09">NordicTrip</span>
            <span>
              to internetowe biuro podróży działające na rynku od 2022 roku.
              Zajmujemy się sprzedażą wycieczek i promowaniem kultury
              skandynawskiej.
            </span>
            <br />
            <span></span>
            <br />
            <span>
              Biuro podróży NordicTrip umożliwia dokonywanie samodzielnej
              rezerwacji online z dowolnego miejsca, przez całą dobę. Na naszej
              stronie udostępniamy setki tysięcy wyjazdów z gwarancją najniższej
              ceny na rynku. Prezentujemy oferty podróży po krajach
              skandynawskich, takich jak Finlandia, Norwegia, Szwecja oraz
              Islandia. Na naszej stronie znajdziesz także informacje o krajach,
              atrakcjach, zabytkach, warunkach klimatycznych i pogodzie.
            </span>
            <br />
            <span></span>
          </span>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>


{% endblock %}
