{% load static %}

<div>
  <link href="{% static 'components/oslo-norwegia.css' %}" rel="stylesheet" />
  <div class="oslo(norwegia)-container">
    <img
      alt="image"
      src="https://play.teleporthq.io/static/svg/placeholders/no-image.svg"
      class="oslo(norwegia)-image"
    />
    <div class="oslo(norwegia)-container1">
      <span class="oslo(norwegia)-text"><span>Oslo</span></span>
      <span><span>10.06-12.06-2022</span></span>
      <span class="oslo(norwegia)-text1"><span>1200 / 999 zł</span></span>
      <span class="oslo(norwegia)-text2"><span></span></span>
      <span class="oslo(norwegia)-text3"><span></span></span>
      <a href="finlandia.html" class="oslo(norwegia)-navlink">
        <div class="outline-button-container">
          <button class="outline-button-button button">
            <span>Discover place</span>
          </button>
        </div>
      </a>
    </div>
  </div>
</div>
