{% load static %}

<div>
  <link href="{% static 'components/sztokholmszwecja.css' %}" rel="stylesheet" />
  <div class="sztokholm(szwecja)-container">
    <img
      alt="image"
      src="public/playground_assets/anna-hunko-akvefdj2q_o-unsplash-200h.jpg"
      class="sztokholm(szwecja)-image"
    />
    <div class="sztokholm(szwecja)-container1">
      <span class="sztokholm(szwecja)-text"><span>Sztokholm</span></span>
      <span><span>20.06-23.06-2022</span></span>
      <span class="sztokholm(szwecja)-text1"><span>2000 / 1500 zł</span></span>
      <span class="sztokholm(szwecja)-text2"><span></span></span>
      <span class="sztokholm(szwecja)-text3"><span></span></span>
      <a href="finlandia.html" class="sztokholm(szwecja)-navlink">
        <div class="outline-button-container">
          <button class="outline-button-button button">
            <span>Discover place</span>
          </button>
        </div>
      </a>
    </div>
  </div>
</div>
