{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'szwecja.css' %}" rel="stylesheet"/>
<div class="szwecja-container">
    <div class="szwecja-top-container">
        <div class="szwecja-hero">
            <div class="szwecja-content-container">
                <h1 class="heading szwecja-text12">Szwecja</h1>
                <h2 class="subheading norwegia-subheading">
                    <span>zachwyca otwartą przestrzenią oraz</span>
                    <br/>
                    <span>dzikim i odmiennym krajobrazem</span>
                    <br/>
                    <span></span>
                </h2>
            </div>
        </div>
    </div>
    <div class="szwecja-main" id="main-section">
        <div class="szwecja-top-container">
            <h1 class="szwecja-text15">
            <span>
              Klimat jest tu chłodny, ale Szwedzi słyną z gościnności i
              tolerancji.&nbsp;Warto udać się na daleką północ gdzie żyją hodowcy
              reniferów Lapończycy zwani także europejskimi Indianami.
            </span>
                <span></span>
            </h1></div>
        <span class="szwecja-text18">
            <span>​</span>
            <br/>
            <span></span>
            <span>
              Szwecja to kraj położony w Europie Północnej, na Półwyspie
              Skandynawskim. Jego wschodnia część oblewają wody Morza
              Bałtyckiego. Do Szwecji należą wyspy: Gotlandia i Olandia oraz
              małe wyspy przybrzeżne. Około 15% powierzchni kraju leży za kołem
              podbiegunowym. Państwo to graniczy z Norwegią i Finlandią. Szwecja
              jest krajem gdzie przeważają wyżyny, średnia wysokość kraju wynosi
              276 m n.p.m. Około 80% powierzchni kraju to tereny leżące od 100
              do 500 m n.p.m. Obszary nizinne zajmują około 25% jego
              powierzchni. Znaczna część obszaru Szwecji pokryta jest lasami
              iglastymi zamieszkałymi przez wilki, renifery, jelenie,
              niedźwiedzie oraz rysie.
            </span>
            <br/>
            <span></span>
            <br/>
            <span>
              Szwecja położona jest w strefie klimatu umiarkowanego ciepłego na
              południu i chłodnego w środkowej i północnej części kraju. Spory
              wpływ na pogodę w Szwecji ma ciepły prąd północnoatlantycki
              Golfsztrom. Średnie temperatury w lipcu wynoszą od 15 do 17oC na
              południu i około 11oC na północy. Latem dni bywają bardzo długie,
              natomiast zimą bardzo krótkie. Na północy natomiast panuje noc i
              dzień polarna na zmianę, co powoduje, że przez kilka miesięcy
              słońce nie zachodzi lub nie wschodzi.
            </span>
            <br/>
            <span></span>
            <br/>
            <span>
              Turyści przybywając do Szwecji zatrzymują się głównie w: Uppsali,
              Sztokholmie, Malmo, Goteborgu czy Lund. Dużą atrakcją może okazać
              się także wyjazd do położonej daleko na północy - Laponii. również
              podróż na odległą północ Szwecji do krainy Laponii. W grudniu
              oferuje doskonałe warunki do jazdy na nartach biegowych, w lecie
              do przyjemnych kąpieli w tysiącach tamtejszych jezior. Bardzo
              popularne są również piesze wyprawy poprzez dziewicze tereny
              Wielkiej Północy.
            </span>
            <span></span>
            <br/>
            <span></span>
            <span></span>
          </span>
    </div>
    </div>
</div>
<script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
{% endblock %}

