<div>
  <link href="./component2.css" rel="stylesheet" />
  <div class="component2-container">
    <img
      alt="image"
      src="public/playground_assets/anna-hunko-akvefdj2q_o-unsplash-200h.jpg"
      class="component2-image"
    />
    <div class="component2-container1">
      <span class="component2-text"><span>Islandia</span></span>
      <span class="component2-text2"><span></span></span>
      <span class="component2-text3"><span></span></span>
      <a href="finlandia.html" class="component2-navlink">
        <div class="outline-button-container">
          <button class="outline-button-button button">
            <span>Discover place</span>
          </button>
        </div>
      </a>
    </div>
  </div>
</div>
