.component4-container {
  display: flex;
  position: relative;
}
.component4-image {
  width: 222px;
  height: 139px;
  position: relative;
  align-self: center;
  object-fit: cover;
}
.component4-root-class-name {
  left: 3px;
  bottom: 1px;
  position: absolute;
}
