.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-100);
}

.component5-container {
  display: flex;
  position: relative;
}
.component5-image {
  width: 222px;
  height: 139px;
  position: relative;
  align-self: center;
  object-fit: cover;
}
.component5-root-class-name {
  left: 3px;
  bottom: 1px;
  position: absolute;
}

.islandia-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.islandia-top-container {
  width: 100%;
  height: 501px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url('file:///Users/alicjasipa/Downloads/pexels-ingo-joseph-1755078.jpg');
  background-position: 0% 40%;
}
.islandia-navbar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.islandia-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.islandia-burger-menu {
  width: 24px;
  height: 24px;
}
.islandia-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.islandia-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.islandia-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.islandia-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.islandia-icon03 {
  width: 24px;
  height: 24px;
}
.islandia-right-side {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.islandia-links-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.islandia-text {
  margin-bottom: 8px;
}
.islandia-text01 {
  margin-bottom: 8px;
}
.islandia-text02 {
  margin-bottom: 8px;
}
.islandia-link {
  display: contents;
}
.islandia-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.islandia-text04 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.islandia-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.islandia-link01 {
  display: contents;
}
.islandia-icon05 {
  width: 24px;
  height: 24px;
}
.islandia-link02 {
  display: contents;
}
.islandia-icon07 {
  width: 24px;
  height: 24px;
}
.islandia-link03 {
  display: contents;
}
.islandia-icon09 {
  width: 24px;
  height: 24px;
}
.islandia-container1 {
  width: 1000px;
  height: 147px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.islandia-navlink {
  display: contents;
}
.islandia-component1 {
  text-decoration: none;
}
.islandia-container2 {
  left: 233px;
  width: 160px;
  bottom: 1px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.islandia-select {
  top: -3px;
  left: -3px;
  width: 160px;
  height: 45px;
  z-index: 10;
  position: absolute;
  text-align: center;
  text-decoration: none;
}
.islandia-navlink1 {
  left: 410px;
  width: 144px;
  bottom: 3px;
  height: 45px;
  position: absolute;
  align-self: flex-start;
  text-align: center;
  text-decoration: none;
}
.islandia-navlink2 {
  left: 576px;
  width: 133px;
  bottom: 2px;
  height: 46px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}
.islandia-container3 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  flex-direction: column;
}
.islandia-navlink3 {
  right: 81px;
  width: 121px;
  bottom: 4px;
  height: 46px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}
.islandia-text10 {
  text-align: center;
}
.islandia-navlink4 {
  right: 4px;
  width: 54px;
  bottom: 4px;
  height: 46px;
  position: absolute;
  text-decoration: none;
}
.islandia-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.islandia-content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.islandia-main {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
  background-color: #fdf6f6;
}
.islandia-text21 {
  width: 1090px;
  height: 208px;
  animation: inherit;
  font-style: normal;
  font-weight: 800;
}
.islandia-text27 {
  color: var(--dl-color-gray-500);
  font-style: normal;
  font-weight: 600;
}
.islandia-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.islandia-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.islandia-links-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.islandia-container4 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.islandia-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.islandia-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.islandia-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.islandia-link07 {
  text-decoration: none;
}
.islandia-container5 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.islandia-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.islandia-link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.islandia-link10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.islandia-link11 {
  text-decoration: none;
}
.islandia-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.islandia-text34 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.islandia-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.islandia-link12 {
  display: contents;
}
.islandia-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.islandia-link13 {
  display: contents;
}
.islandia-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.islandia-link14 {
  display: contents;
}
.islandia-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .islandia-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
}
@media(max-width: 767px) {
  .islandia-burger-menu {
    display: flex;
  }
  .islandia-hero {
    justify-content: center;
  }
  .islandia-content-container {
    align-items: center;
  }
  .islandia-text12 {
    font-size: 2.5rem;
  }
  .islandia-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .islandia-menu {
    flex-direction: column;
  }
  .islandia-links-container1 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .islandia-container4 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .islandia-text12 {
    font-size: 2rem;
    text-align: center;
  }
  .islandia-subheading {
    font-size: 1.3rem;
    text-align: center;
  }
  .islandia-links-container1 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .islandia-link04 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .islandia-link05 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .islandia-link06 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .islandia-link07 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .islandia-container5 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .islandia-link08 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .islandia-link09 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .islandia-link10 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .islandia-link11 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .islandia-follow-container1 {
    margin-left: 0px;
  }
}
