.solid-button-container {
  display: flex;
  position: relative;
}
.solid-button-button {
  color: var(--dl-color-gray-white);
  border: none;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: var(--dl-color-primary-100);
}

.component4-container {
  display: flex;
  position: relative;
}
.component4-image {
  width: 222px;
  height: 139px;
  position: relative;
  align-self: center;
  object-fit: cover;
}
.component4-root-class-name {
  left: 3px;
  bottom: 1px;
  position: absolute;
}

.outline-button-container {
  display: flex;
  position: relative;
}
.outline-button-button {
  color: var(--dl-color-gray-black);
  padding-top: var(--dl-space-space-unit);
  border-color: var(--dl-color-primary-100);
  border-width: 1px;
  padding-left: var(--dl-space-space-doubleunit);
  border-radius: 50px;
  padding-right: var(--dl-space-space-doubleunit);
  padding-bottom: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-white);
}

.sztokholmszwecja-container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.sztokholmszwecja-image {
  width: 100%;
  height: 182px;
  object-fit: cover;
}
.sztokholmszwecja-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  padding-left: 1em;
  flex-direction: column;
}
.sztokholmszwecja-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.sztokholmszwecja-text1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.sztokholmszwecja-text2 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.sztokholmszwecja-text3 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.sztokholmszwecja-navlink {
  display: contents;
}
.sztokholmszwecja-component {
  text-decoration: none;
}

@media(max-width: 767px) {
  .sztokholmszwecja-container {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .sztokholmszwecja-container {
    width: 300px;
  }
}

.finland-container {
  width: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.finland-image {
  width: 100%;
  height: 182px;
  object-fit: cover;
}
.finland-container1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  align-items: center;
  padding-left: 1em;
  flex-direction: column;
}
.finland-text {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.finland-text1 {
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  padding-bottom: var(--dl-space-space-halfunit);
}
.finland-text2 {
  font-size: 12px;
  max-width: 250px;
  margin-bottom: var(--dl-space-space-doubleunit);
}
.finland-navlink {
  display: contents;
}
.finland-component {
  text-decoration: none;
}
@media(max-width: 767px) {
  .finland-container {
    width: 200px;
  }
}
@media(max-width: 479px) {
  .finland-container {
    width: 300px;
  }
}

.last-minute-ofertyspecjalne-container {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.last-minute-ofertyspecjalne-top-container {
  width: 100%;
  height: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-image: url("https://images.unsplash.com/photo-1484627147104-f5197bcd6651?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1000");
  background-position: 0% 40%;
}
.last-minute-ofertyspecjalne-navbar {
  width: 1140px;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-right-side {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-burger-menu {
  width: 24px;
  height: 24px;
}
.last-minute-ofertyspecjalne-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100%;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.last-minute-ofertyspecjalne-nav {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.last-minute-ofertyspecjalne-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.last-minute-ofertyspecjalne-icon03 {
  width: 24px;
  height: 24px;
}
.last-minute-ofertyspecjalne-right-side1 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-links-container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 16px;
  flex-direction: column;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-text {
  margin-bottom: 8px;
}
.last-minute-ofertyspecjalne-text01 {
  margin-bottom: 8px;
}
.last-minute-ofertyspecjalne-text02 {
  margin-bottom: 8px;
}
.last-minute-ofertyspecjalne-link {
  display: contents;
}
.last-minute-ofertyspecjalne-follow-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-text04 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.last-minute-ofertyspecjalne-icons-container {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-link01 {
  display: contents;
}
.last-minute-ofertyspecjalne-icon05 {
  width: 24px;
  height: 24px;
}
.last-minute-ofertyspecjalne-link02 {
  display: contents;
}
.last-minute-ofertyspecjalne-icon07 {
  width: 24px;
  height: 24px;
}
.last-minute-ofertyspecjalne-link03 {
  display: contents;
}
.last-minute-ofertyspecjalne-icon09 {
  width: 24px;
  height: 24px;
}
.last-minute-ofertyspecjalne-container1 {
  width: 965px;
  height: 147px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.last-minute-ofertyspecjalne-navlink {
  display: contents;
}
.last-minute-ofertyspecjalne-component1 {
  text-decoration: none;
}
.last-minute-ofertyspecjalne-container2 {
  left: 233px;
  width: 160px;
  bottom: 1px;
  height: 45px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-end;
}
.last-minute-ofertyspecjalne-select {
  top: -3px;
  left: -3px;
  width: 160px;
  height: 45px;
  z-index: 10;
  position: absolute;
  text-align: center;
  border-color: var(--dl-color-gray-white);
  text-decoration: none;
}
.last-minute-ofertyspecjalne-navlink1 {
  left: 406px;
  width: 144px;
  bottom: 5px;
  height: 45px;
  position: absolute;
  align-self: flex-start;
  text-align: center;
  text-decoration: none;
}
.last-minute-ofertyspecjalne-navlink2 {
  left: 574px;
  width: 133px;
  bottom: 3px;
  height: 46px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}
.last-minute-ofertyspecjalne-container3 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  flex-direction: column;
}
.last-minute-ofertyspecjalne-navlink3 {
  right: 80px;
  width: 121px;
  bottom: 4px;
  height: 46px;
  position: absolute;
  text-align: center;
  text-decoration: none;
}
.last-minute-ofertyspecjalne-text10 {
  text-align: center;
}
.last-minute-ofertyspecjalne-navlink4 {
  right: 4px;
  width: 54px;
  bottom: 4px;
  height: 46px;
  position: absolute;
  text-decoration: none;
}
.last-minute-ofertyspecjalne-hero {
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  padding-top: var(--dl-space-space-tripleunit);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-tripleunit);
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-content-container {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.last-minute-ofertyspecjalne-main {
  width: 1116px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-quadruple);
  padding-left: var(--dl-space-space-doubleunit);
  padding-right: var(--dl-space-space-doubleunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-quadruple);
  justify-content: flex-start;
}
.last-minute-ofertyspecjalne-text14 {
  color: var(--dl-color-gray-500);
}
.last-minute-ofertyspecjalne-cards-container {
  width: 100%;
  display: flex;
  grid-gap: var(--dl-space-space-doubleunit);
  flex-wrap: wrap;
  max-width: 1000px;
  margin-top: var(--dl-space-space-doubleunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-doubleunit);
  flex-direction: row;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-footer {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-tripleunit);
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.last-minute-ofertyspecjalne-menu {
  width: 100%;
  display: flex;
  max-width: 1000px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-links-container1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-container4 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.last-minute-ofertyspecjalne-link04 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.last-minute-ofertyspecjalne-link05 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.last-minute-ofertyspecjalne-link06 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.last-minute-ofertyspecjalne-link07 {
  text-decoration: none;
}
.last-minute-ofertyspecjalne-container5 {
  display: flex;
  align-items: flex-start;
  margin-left: 100px;
  flex-direction: column;
}
.last-minute-ofertyspecjalne-link08 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.last-minute-ofertyspecjalne-link09 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.last-minute-ofertyspecjalne-link10 {
  margin-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.last-minute-ofertyspecjalne-link11 {
  text-decoration: none;
}
.last-minute-ofertyspecjalne-follow-container1 {
  display: flex;
  align-items: center;
  margin-left: 50px;
  flex-direction: column;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-text15 {
  padding-bottom: var(--dl-space-space-halfunit);
}
.last-minute-ofertyspecjalne-icons-container1 {
  width: 100px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.last-minute-ofertyspecjalne-link12 {
  display: contents;
}
.last-minute-ofertyspecjalne-icon11 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.last-minute-ofertyspecjalne-link13 {
  display: contents;
}
.last-minute-ofertyspecjalne-icon13 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
.last-minute-ofertyspecjalne-link14 {
  display: contents;
}
.last-minute-ofertyspecjalne-icon15 {
  fill: var(--dl-color-gray-white);
  width: 24px;
  height: 24px;
}
@media(max-width: 991px) {
  .last-minute-ofertyspecjalne-hero {
    padding-left: var(--dl-space-space-tripleunit);
    padding-right: var(--dl-space-space-tripleunit);
  }
  .last-minute-ofertyspecjalne-cards-container {
    justify-content: center;
  }
}
@media(max-width: 767px) {
  .last-minute-ofertyspecjalne-right-side {
    display: none;
  }
  .last-minute-ofertyspecjalne-burger-menu {
    display: flex;
  }
  .last-minute-ofertyspecjalne-hero {
    justify-content: center;
  }
  .last-minute-ofertyspecjalne-content-container {
    align-items: center;
  }
  .last-minute-ofertyspecjalne-text12 {
    font-size: 2.5rem;
  }
  .last-minute-ofertyspecjalne-main {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .last-minute-ofertyspecjalne-menu {
    flex-direction: column;
  }
  .last-minute-ofertyspecjalne-links-container1 {
    margin-top: var(--dl-space-space-tripleunit);
    margin-bottom: var(--dl-space-space-tripleunit);
    justify-content: space-between;
  }
  .last-minute-ofertyspecjalne-container4 {
    margin-left: 0px;
  }
}
@media(max-width: 479px) {
  .last-minute-ofertyspecjalne-text12 {
    font-size: 2rem;
    text-align: center;
  }
  .last-minute-ofertyspecjalne-subheading {
    font-size: 1.3rem;
    text-align: center;
  }
  .last-minute-ofertyspecjalne-links-container1 {
    margin-top: var(--dl-space-space-doubleunit);
    align-items: flex-start;
    justify-content: flex-start;
  }
  .last-minute-ofertyspecjalne-link04 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .last-minute-ofertyspecjalne-link05 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .last-minute-ofertyspecjalne-link06 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .last-minute-ofertyspecjalne-link07 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .last-minute-ofertyspecjalne-container5 {
    height: 100%;
    align-items: flex-start;
    margin-left: 50px;
  }
  .last-minute-ofertyspecjalne-link08 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .last-minute-ofertyspecjalne-link09 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .last-minute-ofertyspecjalne-link10 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .last-minute-ofertyspecjalne-link11 {
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .last-minute-ofertyspecjalne-follow-container1 {
    margin-left: 0px;
  }
}
